@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.header-sharelink h1{
    margin: 0px 250px 0px 0px;
    
}
.header-sharelink nav{
    display: inline-flex;
    padding: 25px;
    margin-left: 150px;
    gap: 150px;
    
}

.header-sharelink nav div a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 25px;
   margin-left: 150px;
   box-shadow: 5px 5px 5px 3px lightblue
}
