@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.header-sharelink{
    display: flex;
    flex-wrap: wrap;
}

.header-sharelink h1{
    margin: 0px 250px 0px 0px;
    
}
.header-sharelink nav{
    display: inline-flex;
    padding: 25px;
   flex-wrap: wrap;
    gap: 50px;
    
}

.header-sharelink nav div a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 25px;
 
   box-shadow: 5px 5px 5px 3px lightblue
}
@media (max-width = 800px ){

    
}
