.listLinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.listLinks li{
    border: red solid 2px;
    height: 200px;
    width: 200px;
    list-style: none;
}

