.deleteLink_confirmation {
        height: 300px;
        width: 300px;
        box-shadow: var(--boxShadow);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 22px;
}

.deleteLink_confirmation div button,
.deleteLink_confirmation div a button {
        margin: 1rem;
}

