.bg a{
    text-decoration: none;
    color: white;
 
}


.bg form {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: var(--boxShadow);
    background-color: var(--background);
    height: 300px;
    width: 300px;
}


