nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.iconOff {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 0;
    background-size: cover;
    border-radius: 50%;
}

.photoProfile {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;

}