* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  --boxShadow: 2px 2px 6px 8px rgb(110, 231, 255);
}

.App {
  text-align: center;
  background-image: url(./img/linkBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;

}
.App-menu{
  flex-grow: 2;
}

/* backGround formularios */
.bg{
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Mensajes de proceso correcto*/
.resultConfirmation{
  font-size: 25px;
  margin-bottom: 1rem;
}

/* errores */
.error {
  color: red;
}

footer{
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .App{
    background-color: rgb(5, 3, 29);
    background-size: contain;
  

    
  }
}