* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --boxShadow: 2px 2px 6px 8px rgb(110, 231, 255);
  --background: rgb(0, 14, 32);
  --line: rgb(110, 231, 255);
}

.App {
  text-align: center;
  background-image: url(./img/linkBackground.jpg);
  background-color: var(--background);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;

}

.App-menu {
  flex-grow: 2;
}

/* backGround formularios , Messages*/
.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bg a {
  text-decoration: none;
  color: aliceblue;
}

.bg>p {
  margin-bottom: 2rem;

}

.fg,
.messageResponse {
  height: 300px;
  width: 300px;
  box-shadow: var(--boxShadow);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 22px;
  background-color: var(--background);
}


form:not(.formSearch) {
  min-height: 300px;
  width: 300px;
  background-color: var(--background);
  margin: 4rem auto;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border-radius: 15px;
  box-shadow: var(--boxShadow);

}

input:not(.inputSearch),
textarea {
  height: 30px;
  padding: 0.5rem;
  width: 200px;
  border: none;
  background-color: transparent;
  color: aliceblue;
  margin-top: 1rem;
  border-bottom: 1px solid var(--line);

}


textarea {
  height: 100px;
}

textarea:focus {
  outline: solid 3px var(--line);
  border-radius: 15px;
}

input:focus {
  outline: solid 3px var(--line);
  border-radius: 15px;
}




/* errores */
.error {
  color: red;
}

h1 {
  font-size: 40px;
}

footer {
  margin-top: 2rem;
  padding: 0.2rem;
}

@media (max-width: 500px) {
  .App {
    background-color: rgb(5, 3, 29);
    background-size: contain;

  }

}