@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  background-image: url(./img/linkBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  
}
.App Header{
  margin: 50px 500px 50px 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;

  width: 100%;
  display: inline-flex;
}


