.newLink {
    margin: 2rem;
}


.form_newLink, 
.form_editLink {
    height: 320px;
    width: 300px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 2rem auto;
    box-shadow: var(--boxShadow);
    background-color: var(--background) ;
    border-radius: 15px;
    padding: 0.5rem;

}
.form_newLink p{
    padding: 1rem;
}

.form_newLink input,textarea,
.form_editLink input, textarea {
    height: 30px;
    border-radius: 15px;
    padding: 0.5rem 2rem;
    border: none;
    background-color: transparent;
    color: aliceblue;
}

.form_newLink textarea,
.form_editLink textarea {
    height: 60px;
}

.form_newLink button, 
.form_editLink button {
    align-self: center;
}