.listLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.listLinks li .link,
.listLinks li .myLink {
    border-radius: 15px;
    box-shadow: var(--boxShadow);
    min-height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.listLinks li {
    list-style: none;
    background-color: var(--background);

}


.listLinks li section main {
    flex-grow: 1;
}

.listLinks li p {
    margin-top: 0.5rem;
    text-align: center;
    padding: 0 1rem;
}

.link img,
.myLink img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 15rem;
}

.listLinks li .author {
    flex-grow: 1;
}

.listLinks li .author a {
    color: rgb(110, 231, 255);
}