.listLinks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.listLinks li{
    border-radius: 15px;
    box-shadow: 2px 2px 6px 8px rgb(110, 231, 255);
    height: 350px;
    width: 300px;
    list-style: none;
    padding: 1rem;
   
}
.link img{
    width: 200px;
    height: 200px;
}

/* .link{
    display: flex;
    flex-direction: clumn;
} */


