.buttonSubmenu {
    margin-bottom: 2rem;
    padding: 0.3rem;
    margin-left: 1rem;
    width: 50px;
}

.buttonSubmenu div {
    height: 2px;
    width: 2.5rem;
    background-color: white;
    margin-top: 15px;

}